* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: hidden;
}

header {
  padding: 2.5rem 2rem 0;
}

header .top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

header .top-header__left-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top-header__left-sec a {
  text-decoration: none;
}

header .top-header__left-sec .menu-bar-icon {
  display: none;
  margin-right: 1rem;
  color: var(--gray-i);
  padding: 0.5rem;
}

header .top-header__left-sec #google-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .top-header__left-sec #google-logo img {
  height: 4rem;
  width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

header .top-header__left-sec .search-container {
  width: 45vw;
  height: 4.6rem;
  padding: 1rem;
  padding-left: 4rem;
  border-radius: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0.2em 7px rgba(0, 0, 0, 0.17);
          box-shadow: 0 0.2em 7px rgba(0, 0, 0, 0.17);
}

header .top-header__left-sec .search-container:hover {
  -webkit-box-shadow: 0 0.2em 7px rgba(0, 0, 0, 0.17), 0 -0.05em 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.2em 7px rgba(0, 0, 0, 0.17), 0 -0.05em 6px rgba(0, 0, 0, 0.1);
}

header .top-header__left-sec .search-container span,
header .top-header__left-sec .search-container i {
  color: var(--gray-i);
}

header .top-header__left-sec .search-container .search-container__left-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

header .top-header__left-sec .search-container .search-container__left-sec #inp--searchbox {
  width: 100%;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.95em;
  border: none;
  margin: 0;
  padding: 0;
}

header .top-header__left-sec .search-container .search-container__left-sec #inp--searchbox:focus {
  outline: none;
}

header .top-header__left-sec .search-container .search-container__left-sec input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

header .top-header__left-sec .search-container .search-container__left-sec .search-container__left-sec--srch-icon {
  display: none;
  font-size: 1.3em;
  opacity: 0.8;
  margin-right: 0.75rem;
  margin-left: -0.9rem;
}

header .top-header__left-sec .search-container .search-container__right-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .top-header__left-sec .search-container .search-container__right-sec * {
  margin: 0 0.25em;
  cursor: pointer;
}

header .top-header__left-sec .search-container:focus-within .search-container__left-sec--srch-icon {
  display: block;
}

header .bottom-header {
  margin: auto -2rem;
  margin-top: 2.5rem;
  border-bottom: 0.5px solid rgba(200, 200, 200, 0.5);
}

header .bottom-header nav {
  width: 45vw;
  margin-left: 12.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
}

header .bottom-header nav li {
  list-style-type: none;
  margin-right: 1em;
  padding: 0.7rem 0.5rem;
}

header .bottom-header nav li .material-icons,
header .bottom-header nav li .material-icons-outlined {
  font-size: 18px;
}

header .bottom-header nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #1a73e8;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .bottom-header nav li a :first-child {
  margin-right: 0.3em;
}

header .bottom-header nav .bottom-header__left-sec {
  margin-right: 5rem;
}

header .bottom-header nav .bottom-header__left-sec ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .bottom-header nav .bottom-header__right-sec ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .bottom-header nav .active-page {
  border-bottom: 4px solid #1a73e8 !important;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 95%;
  max-width: 1920px;
  font-family: "Roboto", sans-serif;
  padding: 1rem 10vw 3rem 12.5vw;
}

main .right-sidebar {
  margin: 5rem 0 0 5rem;
  color: #4e5156;
  width: 130rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 0.5px solid #dfe1e5;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

main .right-sidebar-2 {
  margin: 5rem 0 0 5rem;
  color: #4e5156;
  width: 90rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 0.5px solid #dfe1e5;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

main .right-sidebar a {
  color: #2900aa;
}

main .right-sidebar a:hover {
  text-decoration: underline;
}

main .right-sidebar > * {
  padding: 1.5rem;
}

main .right-sidebar > *:nth-child(1),
main .right-sidebar > *:nth-child(2) {
  border-bottom: 0.5px solid #dfe1e5;
}

main .right-sidebar .h2-inline-block {
  display: inline-block;
}

main .right-sidebar .h2-inline-block + a {
  color: #71757a;
  padding-top: 0.7rem;
}

main .right-sidebar .right-sidebar__top-sec {
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .right-sidebar .right-sidebar__top-sec .right-sidebar__top-sec--left-heading {
  width: 80%;
  line-height: 0.9;
  margin-top: 1rem;
}

main .right-sidebar .right-sidebar__top-sec .right-sidebar__top-sec--left-heading h1 {
  font-weight: 500;
  color: #000;
  margin-bottom: 1.25rem;
}

main .right-sidebar .right-sidebar__top-sec .right-sidebar__top-sec--right-image {
  width: 14rem;
  height: 13rem;
}

main .right-sidebar .right-sidebar__top-sec .right-sidebar__top-sec--right-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .right-sidebar .right-sidebar__sub-top-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .right-sidebar .right-sidebar__sub-top-sec span {
  margin-right: 2rem;
}

main .right-sidebar .right-sidebar__main-sec {
  line-height: 1.5;
  font-size: 0.9em;
}

main .right-sidebar .right-sidebar__main-sec strong {
  color: #000;
}

main .right-sidebar .cv-btn {
  padding: 20px;
  background-color: #5580f2;
  color: white;
  border: none;
  border-radius: 10px;
}

main .right-sidebar .right-sidebar__sub-bottom-sec,
main .right-sidebar .right-sidebar__bottom-sec {
  position: relative;
  overflow-x: auto;
  font-size: 0.8em;
}

main .right-sidebar .right-sidebar__sub-bottom-sec h2,
main .right-sidebar .right-sidebar__bottom-sec h2 {
  font-weight: 400;
  color: #000;
}

main .right-sidebar .right-sidebar__sub-bottom-sec .profiles-items-container,
main .right-sidebar .right-sidebar__bottom-sec .profiles-items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .right-sidebar .right-sidebar__sub-bottom-sec .profiles-item a,
main .right-sidebar .right-sidebar__bottom-sec .profiles-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

main .right-sidebar .right-sidebar__sub-bottom-sec .profiles-item a img,
main .right-sidebar .right-sidebar__bottom-sec .profiles-item a img {
  width: 4rem;
  border-radius: 5px;
}

main .right-sidebar .right-sidebar__sub-bottom-sec .profiles-item-x a,
main .right-sidebar .right-sidebar__bottom-sec .profiles-item-x a {
  padding-left: 0;
}

main .right-sidebar .right-sidebar__sub-bottom-sec .profiles-item-x a img,
main .right-sidebar .right-sidebar__bottom-sec .profiles-item-x a img {
  width: 6.5rem;
  background-color: #f7f7f7;
}

main .right-sidebar .right-sidebar__sub-bottom-sec .profiles-item-x:last-child a,
main .right-sidebar .right-sidebar__bottom-sec .profiles-item-x:last-child a {
  padding-right: 0;
}

main a {
  text-decoration: none;
  color: #1a0dab;
}

main .result-item {
  margin: 2.5rem 0;
}

main .result-item h3 {
  font-weight: 400;
  font-size: 1.25em;
  padding-bottom: 5px;
  color: #1a0dab !important;
}

main .result-item h3:hover {
  text-decoration: underline;
}

main .result-item .result-item-link {
  font-size: 0.9em;
  padding-bottom: 5px;
}

main .result-item .result-item-link a {
  vertical-align: 6.5px;
  color: #202124;
}

main .result-item .result-item-link .arrow-triangle-icon.material-icons {
  color: var(--gray-i);
  position: relative;
  top: 1px;
  cursor: pointer;
}

main .result-item p {
  color: #4e5156;
  font-size: 0.8em;
  line-height: 1.55;
}

main .result-item .sub-result-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1.5rem 1rem 1.5rem -0.75rem;
}

main .result-item .sub-result-item {
  display: inline-block;
  width: 35%;
  margin: 1rem 3.2rem 1rem 2rem;
}

main .result-item .sub-result-item2 {
  display: inline-block;
  width: 35%;
  margin: 1rem 3.2rem 1rem 2rem;
}

main .result-item .sub-result-container__articles {
  padding-right: 3rem;
  position: relative;
  margin: 1.5rem 0 2rem;
  color: #1c1c1d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .result-item .sub-result-container__articles .sub-result-container__article {
  width: 31%;
  height: 24rem;
  padding: 1rem;
  border: 0.5px solid #dfe1e5;
  border-radius: 1rem;
  overflow-y: auto;
}

main .result-item .sub-result-container__articles .sub-result-container__article time {
  padding-bottom: 1rem;
  position: absolute;
  bottom: 0;
  font-size: 0.6em;
}

main .result-item .sub-result-container__articles .sub-result-container__article time span {
  color: #868a8e;
}

main .result-item .sub-result-container__articles .material-icons-outlined {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--gray-i);
  cursor: pointer;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

main .result-item .sub-result-container__articles .material-icons-outlined:hover {
  background-color: white;
}

main .result-item .sub-result-container__articles .chevron_left {
  left: -1.5rem;
}

main .result-item .sub-result-container__articles .chevron_right {
  right: 1.5rem;
}

main .pages-nav {
  margin: 2.75rem auto 0;
}

main .pages-nav table {
  margin: auto;
}

main .pages-nav table td {
  font-size: 1em;
  text-align: center;
}

main .pages-nav table tr:first-child {
  font-family: "ps-bold", sans-serif;
  letter-spacing: -3px;
}

main .pages-nav table tr:first-child td {
  font-size: 2em;
  padding-bottom: 0.2em;
}

main .pages-nav table tr:first-child td:first-child,
main .pages-nav table tr:first-child td:nth-last-child(4) {
  color: #5580f2;
}

main .pages-nav table tr:first-child td:nth-child(2) a,
main .pages-nav table tr:first-child td:nth-last-child(2) {
  color: #e13d3a;
}

main .pages-nav table tr:first-child td:nth-last-child(3) {
  color: #43ab54;
}

main .pages-nav table tr:first-child td a {
  color: #f5be20;
}

main .pages-nav table tr:first-child td:last-child a {
  color: #5580f2;
}

main .pages-nav table tr:last-child a {
  color: #5580f2;
}

main .pages-nav table tr:last-child a:hover {
  text-decoration: underline;
}

footer {
  background-color: #f2f2f2;
  color: #6f6f6f;
  font-weight: 500;
  font-size: 0.9em;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer a:hover {
  color: #3c4043;
}

footer .top-footer-container {
  border-bottom: 1px solid;
  border-bottom: 0.5px solid rgba(200, 200, 200, 0.6);
}

footer .top-footer {
  padding: 1.6rem 0 1rem;
  padding-left: 12.5vw;
}

footer .top-footer .material-icons {
  font-size: 0.8em;
}

footer .top-footer span:first-child {
  border-right: 0.1px solid rgba(200, 200, 200, 0.6);
  padding: 0.5rem 1.5rem 0.5rem 0;
}

footer .top-footer span:nth-child(2) {
  padding: 0.5rem 0 0.5rem 1.5rem;
}

footer .top-footer span:nth-child(3) {
  font-weight: bold;
  color: #3c4043;
}

footer .bottom-footer {
  padding: 1rem 0 1.6rem;
  padding-left: 12.5vw;
}

footer .bottom-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .bottom-footer ul li {
  margin-right: 2.5rem;
  list-style-type: none;
}
/*# sourceMappingURL=results.css.map */
